@import "variable.scss";
.address {
    .content{
        padding-top: set(100px);
        height: calc(100vh);
        background: #fff;
        .van-cell {
            border-bottom: 1px solid #f5f5f5
        }
        .edit{
            font-size: set(40px)
        }
        .van-tag {
            font-size: set(16px);
            margin-left: set(20px);
            padding: set(2px) set(6px)
        }
    }
    .addAddress {
        padding: 0 set(20px);
        position: fixed;
        bottom: set(20px);
        left: 0;
        width: 100%;
        .van-button {
            width: 100%;
            height: set(80px);
            line-height: set(80px);
            border-radius: set(30px);
            background: #e7352c;
            color: #fff;
            font-size: set(34px)
        }
    }
}